@page "/Roles/{handler?}"
@model WorkloadApp.Pages.RolesModel

@{
    ViewData["Title"] = "Roles";
}
<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoleViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page-handler="Users" class="btn btn-sm btn-primary" asp-route-RoleId="@item.Id">Manage Users</a>
                </td>
            </tr>
        }
    </tbody>
</table>