@model OnlineEvaluation.Models.Questionnaire

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Questionnaire</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div> *@
            <div class="form-group col-md-7">
                <label asp-for="EvaluationTypeId" class="control-label"></label>
                <select asp-for="EvaluationTypeId" class ="form-control" asp-items="ViewBag.EvaluationTypeId"></select>
            </div>
             <div class="wrapper">
                <div class="form-group col-md-12" style="display: flex;">
                    <label asp-for="Question" class="control-label"></label>
                    <div class="form-group col-md-4">
                    <textarea placeholder="Input question" style="width: 100%;" rows="4" cols="600" type="text" required="required" name="Question" class="form-control"></textarea>
                        <span asp-validation-for="Question" class="text-danger"></span>
                    </div>
                    <p class="col-md-8"><a href="javascript:void(0);" onclick="addquestionfield(this)" class="add_fields btn btn-secondary btn-sm">Add another question field</a></p>
                </div>
             </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var max_fields = 90;
        var x = 1; //Initial input field is set to 1
        function addquestionfield(element){
            //Check maximum allowed input fields
            if(x < max_fields){
                x++; //input field increment
                //add input field
                $(".wrapper").append('<div class="form-group col-md-12" style="display: flex;">' +
                 '<label class="control-label">question</label>' +
                  '<div class="form-group col-md-7">' +
                  '<textarea rows="4" cols="50" class="form-control" name="Question" placeholder="Input question" ></textarea>' +
                   '</div>' +
                   '<div class="col-md-7">'+
                   '<p class="col-md-3"><a href="javascript:void(0);" onclick="addquestionfield(this)" title="Add another question field" class="add_fields new_add_field_button fas fa-plus-circle"></a></p>'+
                   '<p class="col-md-3"><a href="javascript:void(0);" title="Remove question field" class="remove_field new_minus_field_button fas fa-minus-circle"></a></p>' +
                   '</div>'+
                   '</div>');
             //add focus on last textarea
            $(element).closest(".wrapper").find('.form-group:last-child textarea').focus()
            //console.log($(element).closest(".wrapper").find('.form-group:last-child').html())
            }
        }
            //when user click on remove button
            $(".wrapper").on("click",".remove_field", function(e){ 
                    e.preventDefault();
             $(this).closest('div.form-group').remove(); //remove inout field
             x--; //inout field decrement
                });
    </script>
}
